* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
ul,
a,
button,
input,
select,
textarea {
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  overflow-x: hidden;
}
.container {
  width: 100%;
  background-color: #f0f0ff;
  border: 2px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

header h1 a {
  color: #333;
}

.hamburger {
  display: block;
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  /* z-index: 100; */
}

.hamburger.change {
  transform: translateX(-160px);
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

nav {
  display: none;
}

.navbar {
  transform: translateX(220px);
  width: 200px;
  height: 95dvh;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid red;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.navbar.change {
  transform: translateX(0px);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.sidebar {
  display: none;
}

main {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.content-container {
  /* margin: 0 auto; */
  min-width: 100%;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.date-time {
  font-weight: bold;
}

.content {
  margin-bottom: 1rem;
  line-height: 3rem;
}

#story-navigation {
  margin: 1rem 0;
}

#story-navigation button {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* #story-navigation button.active {
  background-color: #f0f0f0;
} */

/* #story-navigation button:focus {
  outline: none;
} */

#story-navigation button[disabled] {
  cursor: not-allowed;
}
/* #story-navigation button:hover {
  background-color: #f0f0f0;
} */

.comments {
  /* border: 1px solid red; */
}

#comment-field {
  width: 100%;
  height: 100px;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  resize: vertical;
  overflow: auto;
  /* outline: none; */
  background-color: transparent;
}

#submit {
  background-color: blue;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

#submit:hover {
  background-color: darkblue;
}

.comment {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    min-width: 768px;
  }

  .hamburger {
    display: none;
  }

  nav {
    display: block;
  }

  .navbar {
    display: none;
  }

  main {
    gap: 3rem;
  }

  .sidebar {
    display: block;
    margin: 4.5rem 0.5rem;
    max-width: 17%;
  }

  .filter {
    margin-bottom: 1rem;
  }

  .filter select {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #f0f0ff;
    border: 1px solid red;
    border-radius: 5px;
    outline: red;
    /* width: 100%; */
  }

  .topics li {
    margin: 1rem 0;
  }

  .content-container {
    padding: 0 1rem;
    min-width: 78%;
    /* margin-left: auto; */
  }
}

@media (min-width: 1024px) {
  .content-container {
    min-width: 79%;
  }
}

@media (min-width: 1200px) {
  .content-container {
    min-width: 85%;
  }
}
